<!DOCTYPE html>
<html lang="en">

<head>
	<%- include("./partials/head"); -%>
</head>

<body class="search-page  blue-grey darken-4">
	<!-- search bar -->
	<header>

		<nav>
			<%- include("./partials/menu"); -%>
		</nav>


		<div class=" lg:invisible ">
			<%- include("./partials/search-bar.ejs"); -%>

		</div>



	</header>

	<main class="">
		<h1>
			<%= title %>
		</h1>
		<!-- results -->
		<section class=" results small-padding entry-list">
			<% if (locals.repairs) { %>
				<%- include("./partials/repairs-list"); -%>

					<% } %>

		</section>

	</main>
	<footer>
		<!--menu button  -->
	</footer>

	<%- include("./partials/scripts"); -%>
</body>

</html>