<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head"); -%>
</head>
<body>
    <section>
        <%- include("./partials/mobile-menu"); -%>
        
    </section>
    <section>
        <h2><%=title%></h2>
        <%- include("./partials/useractions.ejs"); -%>

    </section>


    <%- include("./partials/scripts"); -%>
</body>
</html>