<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head"); -%>
</head>

<body>
    <section>

        <%- include("./partials/menu"); -%>

    </section>
    <section class="flex">

        <section class="w-1/2">
            <h2>
                <%=title%>
            </h2>
            <%- include("./partials/useractions.ejs"); -%>
        </section>
        <section class="w-1/2">
            <h3>Your Repairs</h3>
        </section>

    </section>


    <%- include("./partials/scripts"); -%>
</body>

</html>