<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head"); -%>
</head>

<body class="w-full">
    <section><%- include("./partials/menu"); -%></section>
    <section class=" flex flex-wrap justify-around w-full ">
        <section class="flex flex-1 flex-col">
            <h2>
                <%=title%>
            </h2>
            <%- include("./partials/dashboard-groups.ejs"); -%>
        </section>
        <section class="flex-1 border-2 border-sky-500 w-full">
            <h3 class="w-full">Your Repairs</h3>
            <div class=" flex-1 flex justify-center">
                <ul class=" flex flex-wrap justify-center md:justify-around">
                    <% for( let index=0; index < repairs.length; index++ ){%>

                        <li class="m-2 flex flex-1">
                            <div class="card  bg-base-100 shadow-xl image-full">
                                <figure class="">
                                    <%if (repairs[index].procedureArr[0]?.images[0]){%>
                                        <img loading="lazy"
                                            src="<%= repairs[index].procedureArr[0].images[0].replace('/upload/','/upload/c_scale,w_600/')%>" />
                                        <%}else{%>
                                            <img loading="lazy" src="/images/no-image.png" />
                                            <% } %>
                                </figure>
                                <div class="card-body">
                                    <h2 class="card-title">
                                        <%= repairs[index].title %>
                                    </h2>
                                    <section>
                                        <h6>Engine :<span>
                                                <%= repairs[index].engineMake ? repairs[index].engineMake
                                                    : "no enginemake" %>
                                            </span></h6>
                                        <h6>Group: <span>
                                                <%= repairs[index].group ? repairs[index].group : "no group" %>
                                            </span></h6>


                                    </section>


                                    <div class="card-actions justify-end">
                                        <div class="dropdown dropdown-left">
                                            <label tabindex="0" class="btn m-1">TOOLS</label>
                                            <ul tabindex="0"
                                                class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
                                                <li><a>edit</a></li>
                                                <li><a>view</a></li>
                                                <li><a>delete</a></li>


                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </li>
                        <% } %>
                </ul>
            </div>
        </section>
    </section>

    <%- include("./partials/scripts"); -%>
</body>

</html>