<!DOCTYPE html>
<html lang="en">

<head>

  <%- include("./partials/head"); -%>

</head>

<body class=" w-full">
  <header>
    <nav>

      <%- include("./partials/menu"); -%>

    </nav>
  </header>
  <!-- loading screen -->
  <section class=" invisible status-icons">
    <div id="loading" class="loading-text">Loading</div>
    <progress class="progress progress-info w-56" value="10" max="100"></progress>
  </section>
  <main class="w-full card">


    <!-- TOP INFO -->
    <form id="repair-form" class="small-padding repair-form" action="#" encType="multipart/form-data">
      <legend class=" flex-col form-desc flex-center">

        <div class="  form-control  max-w-xs">
          <label class="label">
            <span class="label-text">Title: </span>
          </label>
          <input id="title" name="title" type="text" placeholder="Type here" value="<%=repair.title%>" class="input
            input-bordered w-full max-w-xs" required />
          <label class="label">
          </label>
        </div>

        <div class="  form-control  max-w-xs">
          <label class="label">
            <span class="label-text">Repair Id: </span>
          </label>
          <input id="id" name="id" type="text" placeholder="Type here" value="<%=repair._id %>" class="input
          input-bordered w-full max-w-xs" disabled required />
          <label class="label">
          </label>
        </div>

        <div class="form-control  max-w-xs">
          <label class="label">
            <span class="label-text">Board type: </span>
          </label>
          <input id="board-type" value="<%=repair.boardType%>" name="boardtype" type="text" placeholder="Type here"
            class="input input-bordered w-full max-w-xs" />
          <label class="label">
          </label>
        </div>
        <div class="form-control  max-w-xs">
          <label class="label">
            <span class="label-text">Add to Group </span>
          </label>
          <select name="groupId" class="select select-accent w-full max-w-xs">
            <option selected value=<%=repair.group %> disabled>Original value: <%=repair.group %>
            </option>
            <% groups.forEach(group=> { %>
              <option value="<%= group %>">
                <%= group %>
              </option>
              <% }) %>
                <option value='public'>Public
                </option>
          </select>
          <label class="label">
          </label>
        </div>

      </legend>


      <!-- pick parts manufacturer -->
      <section class="container w-full blue-grey darken-1">
        <fieldset class="border w-full engine-models">
          <legend>Choose Engine</legend>
          <select name="engineMake" class=" w-full select select-accent w-full max-w-xs">
            <option selected value=<%=repair.engineMake %> disabled>Original value: <%=repair.engineMake %>
            </option>
            <% manufacturers.forEach(make=> { %>
              <option value="<%= make %>">
                <%= make %>
              </option>
              <% }) %>
                <option value='other'>Other
                </option>
          </select>

        </fieldset>

        <!-- <fieldset class="border engine-models">
                            <legend>Part Manufacturer</legend>
                            <span>
                                <label for="cat">
                                    <div class="badge badge-accent">
                                        <input id="cat" name="model" value="cat" type="radio" class=" model radio" />
                                    </div>
                                </label>
                            </span>
                        </fieldset> -->
      </section>


      <!-- PROCEDURES -->
      <section class=" border w-full ">

        <ol id="instructions" class="w-full flex flex-col flex-center" data-currentProcId="1">


          <!-- FOR LOOP PROCEDURES -->
          <% for( let index=0, len=repair.procedureArr.length ;index < len; index++ ) { %>
            <li class=" w-full mb-4 mt-4 bg-cyan-800 procedure small-padding card   shadow-xl" data-procedureId="1">

              <section class=" w-full grey procedure--details small-padding">
                <h3>Repair Procedure</h3>

                <!-- images uploaded -->
                <section class="w-full ">
                  <ol class="uploads w-full flex flex-col flex-center" data-totalfiles="0" data-uploadId="0">

                    <fieldset class="">
                      <legend>Images</legend>
                      <!-- FOR LOOP IMAGES -->
                      <% repair.procedureArr[index]?.images.forEach(element=> { %>
                        <!-- UPLOADED IMAGES -->
                        <ol class="mb-5 uploads border-2 border-black flex flex-center flex-col" data-totalfiles="0"
                          data-uploadid="0">
                          <li class=" w-full card imageuploaded small-padding">
                            <img class="w-full" src=<%=element%> alt="image preview" class="img-mini" />
                            <input class=" file-input file-input-bordered w-full max-w-xs" data-origurl=<%=element%>
                            data-newimage="false"
                            onchange="previewImage(event);"
                            type="file"
                            accept="image/*">




                            <section class="border-2 border-black p-4  text-clip  ">
                              <!-- <h3>Current Url</h3> -->
                              <input type="text" class="file-input file-input-bordered w-full max-w-xs"
                                value="<%=element%>">
                              <span class="btn" href="">
                                reset
                              </span>
                            </section>
                            <section class=" w-1/2">
                              <span class="button--mobile clickable rounded btn" data-action="remove-image">
                                remove image
                              </span>

                            </section>
                          </li>
                        </ol>


                        <% }) %>
                    </fieldset>
                    <!-- FOR LOOP IMAGES END -->

                  </ol>
                  <div class="btn bg-warning text-black " data-action="add-image">
                    add another image
                  </div>

                </section>
                <!-- <fieldset class=""> -->
                <legend class="">Instructions</legend>
                <textarea id="instructions1"
                  class="textarea textarea-warning instructions center-block large-input white"
                  placeholder="Instructions" name="instructions1" data-orig=<%=repair.procedureArr[index].instructions
                  %>
                    rows="8"><%=repair.procedureArr[index].instructions %></textarea>

              </section>
              <section class="controls">
                <div class="bg-accent text-base-200 btn add-proc" data-action="add-procedure">
                  add another step
                </div>

                <details class="warning">
                  <summary class=" btn text-black bg-warning remove-proc"> Delete Procedure</summary>
                  <div class=" btn bg-error-content text-white" data-action="remove-procedure">confirm
                    delete</div>
                </details>
              </section>
            </li>
            <% } %>
              <!-- FOR LOOP END -->


        </ol>
      </section>
      <details>
        <summary class="btn text-black bg-blue-300">Save Edit</summary>
        <button type="submit" class="btn text-black">confirm</button>
      </details>

    </form>



  </main>

  <footer>
    <section class="hidden">
      <h4>TEMPLATES</h4>
      <!-- ===========================PROCEDURE TEMPLATE ===============================-->
      <li id="procedure-template" class=" mb-4 bg-cyan-800 procedure small-padding card shadow-xl" data-procedureId="1">

        <section class="grey procedure--details small-padding">
          <h3>Repair Procedure</h3>

          <!-- images uploaded -->
          <section class="">
            <ol class="uploads" data-totalfiles="0" data-uploadId="0">

              <fieldset class="">
                <legend>Images</legend>
                <!-- FOR LOOP IMAGES -->
                <!-- UPLOADED IMAGES -->
                <ol class="uploads" data-totalfiles="0" data-uploadid="0">
                  <li id="" class="card imageuploaded small-padding">
                    <img src="" alt="image preview" class="img-mini" />
                    <input data-newimage="true" onchange="previewImage(event);" type="file" accept="image/*"><span
                      class="button--mobile clickable rounded btn" data-action="remove-image">remove item</span>
                  </li>
                </ol>


              </fieldset>
              <!-- FOR LOOP IMAGES END -->

            </ol>
            <div class="btn bg-warning text-black " data-action="add-image">
              add another image
            </div>

          </section>
          <!-- <fieldset class=""> -->
          <legend class="">Instructions</legend>
          <textarea id="instructions1" class="textarea textarea-warning instructions center-block large-input white"
            placeholder="Instructions" name="instructions1" data-orig="" rows="8"></textarea>

        </section>
        <section class="controls">
          <div class="bg-accent text-base-200 btn add-proc" data-action="add-procedure">
            add another step
          </div>

          <details class="warning">
            <summary class=" btn text-black bg-warning remove-proc"> Delete Procedure</summary>
            <div class=" btn bg-error-content text-white" data-action="remove-procedure">confirm
              delete</div>
          </details>
        </section>
      </li>
      <!-- ===========================PROCEDURE TEMPLATE ===============================-->




      <!--======================== IMAGE TEMPLATE ===============================-->
      <li id="image-template" class="card imageuploaded small-padding">
        <img src="" alt="image preview" class="img-mini" />
        <input data-newimage="true" onchange="previewImage(event);" type="file" accept="image/*"><span
          class="button--mobile clickable rounded btn" data-action="remove-image">remove item</span>
      </li>
      <!--======================== IMAGE TEMPLATE END ===============================-->

    </section>
  </footer>
  <script type="text/javascript" src="/js/editpage.js"></script>
  <%- include("./partials/scripts"); -%>

</body>

</html>