<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head"); -%>
</head>

<body>
    <section>
        <%- include("./partials/menu"); -%>

    </section>
    <section>
        <h2>
            <%=title%>
        </h2>
        GROUP MANANGEMENT
        <%- include("./partials/useractions.ejs"); -%>

    </section>


    <%- include("./partials/scripts"); -%>
</body>

</html>