



<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="This is where your description goes">
    	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Repair Search</title>
		

		<!-- external CSS link -->
		<link rel="stylesheet" href="./stylesheets/normalize.css">
		<link rel="stylesheet" href="./stylesheets/style.css">
		<!-- <link rel="stylesheet" href="./stylesheets/index.css"> -->
	</head>
	<body class="search-page">
		<!-- search bar -->
		<header>
			<section class="search">
				<h1 class="title">Latest Repairs</h1>
				<form action="/repair/search" method="get">
					<input class="search_input" type="text" name="searchPhrase" placeholder="Search for Fault code / issue">
					<button class="search_button" type="submit">Search</button>
				</form>
			
			</section>
			
		</header>


		<!-- results -->
		<section class="results" >
			
            <% for(let i =0; i<repairs.length; i++){ %>
				<a href="/repairinfo/<%= repairs[i]._id%>">
					
					<section class="entry clickable cummins-fix">
                    
						<div class="entry__description text-overflow">
							<h2><%= repairs[i].title %></h2>
							<!-- <h3><%= repairs[i].searchtags %></h3> -->
							<p><%= repairs[i].procedureArr[0].instructions %></p>
						  
						</div>
						<div class="desc-img">
							<!-- thumbnail for repair -->
							<%if (repairs[i].procedureArr[0].images){%>
								
								<img src=" <%= repairs[i].procedureArr[0].images[0].replace('/upload/','/upload/c_scale,w_300/')%>" data-url="<%= repairs[i].procedureArr[0].images[0].replace('/upload/','/upload/c_scale,w_300/')%>" alt="repair image" class="img-mini">
								<%}else{%>
									<img src="https://img.icons8.com/ios-filled/100/000000/automatic-gearbox-warning--v2.png" alt="repair image not available" class="img-mini">
								<%}%>
		
						</div>
	
						
					</section>
				</a>
                
    

            <%}%>
			
			



		</section>

				
			<nav>
				<section class="menu">
					<details class="menu-expanded">
						<summary> MENU</summary> 
						<a class="button button--menu clickable" href="/repairform">
							<span>Doc Repair <br> +</span>
						</a>
						<a class="button button--menu clickable" href="/ecm-logs">
							<span> ECM LOG <br> +</span>
						</a>
						<!-- <a class="button clickable" href="#">
							<span> Repair <br> Search</span>
						</a> -->
					</details>
				</section>
			</nav>

		<footer>
			Footer
		</footer>
	

		<script type="text/javascript" src="./js/index.js"></script>
	</body>
</html>
