



<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="This is where your description goes">
    	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Latest Repairs</title>
		

		<!-- external CSS link -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
		<link rel="stylesheet" href="/stylesheets/normalize.css">
		<link rel="stylesheet" href="/stylesheets/style1.css">
		<!-- <link rel="stylesheet" href="./stylesheets/index.css"> -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	</head>
	<body class="search-page  blue-grey darken-4">
		<!-- search bar -->
		<header>
			<section class="card   blue lighten-3 rounded">
				<h1 class="title">Latest Repairs</h1>
				<form action="/repair/search" method="get">
					
					<!-- <label for="search">Search
						<input class="search_input" type="text" id="search" name="searchPhrase" placeholder="Search for Fault code / issue">
					</label>
					<button class=" rounded search_button" type="submit">Search</button> -->
					<div class="input-field">
						<input type="text" id="search" name="searchPhrase">
						<label for="search">Search</label>
					</div>
					
					<button class=" rounded search_button" type="submit">Search</button>

				</form>
			</section>
			<nav>
				<%- include("./partials/mobile-menu"); -%>

			</nav>

		</header>
		
		<main>
			<!-- results -->
		<section class="results entry-list" >


            <% for(let i =0; i<repairs.length; i++){ %>
<!-- large card -->
				<a class="entry" href="/repairinfo/<%= repairs[i]._id%>">

					<div class=" small-padding">
						<div class="col s12 m7">
						<div class="card large grey">
							<div class="card-image">
								<img src="<%= repairs[i].procedureArr[0].images[0].replace('/upload/','/upload/c_scale,w_300/')%>">
								<span class=" card-title teal"><%= repairs[i].title %></span>
							</div>
							<div class="card-content ">
								<p class=" ">
									<%= repairs[i].procedureArr[0].instructions %>
								</p>
							</div>
							<div class="card-action">
								<!-- <a href="#">This is a link</a> -->
							</div>
						</div>
						</div>
					</div>
				</a>
				
				

				<!-- <a class="" href="/repairinfo/<%= repairs[i]._id%>"> -->
					
<!-- 
					<%if (repairs[i].engineMake == "cummins"){%>
						<section class="entry  small-padding clickable cummins-fix">
					<%}%>
					<% if (repairs[i].engineMake == "cat"){%>
						<section class="entry  small-padding clickable cat-fix">
					<%}%>
					<% if (repairs[i].engineMake == "detroit"){%>
						<section class="entry  small-padding clickable detroit-fix">
					<%}%> -->
					
					
					
					

						
						
					<!-- </section> -->
				<!-- </a> -->
                
    

            <%}%>
			
			



		</section>

		</main>
		
				
			

		<footer>
			<!--menu button  -->
			

		</footer>
	
		<script type="text/javascript" src="./js/index.js"></script>
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
		<script>
		document.addEventListener('DOMContentLoaded', function() {
    		const elems = document.querySelectorAll('.fixed-action-btn');
			const instances = M.FloatingActionButton.init(elems, {
			direction: 'up',
			hoverEnabled: false
    	});
  });
			
		</script>
	</body>
</html>
