



<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("./partials/head"); -%>
		
	</head>
	<body class="search-page  blue-grey darken-4">
		<!-- search bar -->
		<header>
			<section class="card   blue lighten-3 rounded">
				<!-- <h1 class="title">Latest Repairs</h1> -->
				
			</section>
			<nav>
				<%- include("./partials/reg-menu"); -%>
				<%- include("./partials/mobile-menu"); -%>

			</nav>
			<%- include("./partials/search-bar"); -%>
			<!-- <form action="/repair/search" method="get">
				<input class="search_input" type="text" name="searchPhrase" placeholder="Search for Fault code / issue">
				<button class="search_button" type="submit">Search</button>
			</form> -->
		</header>
		
		<main class="">
			<!-- results -->
		<section class="results " >

			<%- include("./partials/repairs-list"); -%>
			<!-- <ul class="entry-list">

				<% for(let i =0; i<repairs.length; i++){ %>

					<li class="entry small-padding">
	
						<a class="" href="/repair/<%= repairs[i]._id%>">
		
							<div class=" small-padding">
								<div class="col s12 m7">
								<div class="card large grey">
									<div class="card-image">
										
										<%if (repairs[i].procedureArr[0].images[0]){%>
											<img loading="lazy" src="<%= repairs[i].procedureArr[0].images[0].replace('/upload/','/upload/c_scale,w_300/')%>">
										   
										<%}else{%>
												
											
										<%}%>
										<span class=" card-title teal"><%= repairs[i].title %></span>
									</div>
									<div class="card-content ">
										<p class="instructions ">
											<%= repairs[i].procedureArr[0].instructions %>
										</p>
									</div>
									<div class="card-action">
									</div>
								</div>
								</div>
							</div>
						</a>
					</li>
				<%}%>
			</ul> -->

			
			



		</section>

		</main>
		
				
			

		<footer>
			<!--menu button  -->
			

		</footer>
	
		  <%- include("./partials/scripts"); -%>
	</body>
</html>
