

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head"); -%>
</head>
<body class=" blue-grey darken-4" >
    <header>
        
        <nav>
            <%- include("./partials/reg-menu"); -%>
            <%- include("./partials/mobile-menu"); -%>
        </nav>
        <%- include("./partials/search-bar"); -%>
    </header>
	
		<section class=" row small-padding  grey">  
           
            <span>
                Repair group:<%= repair.group %>
                <!-- Repair ID:<%= repair._id %> -->
            </span> 
            <section class="grey"> 
                <section class="card blue small-padding">
                    <!-- title -->
                    <span>Title:</span>
                    <h1 class="chip"><%= repair.title %></h1> 
                    <h3 class="chip ">Repair ID:<%= repair._id %></h3>  
                    <h3 class="chip ">Repair Documented by: <%= repair.createdBy %></h3>  
                </section>
                
                <!-- <section class="">
                    <h3 class="title search-tags">Search Tags: </h3>
                    <span class="chip"><%= repair.searchtags %></span>
                    
                </section> -->
                
                <section class="rounded">
                    <span class="title  board-type">Board Type: </span> 
                    <h3 class="chip"><%= repair.boardType %></h3> 
                    
                </section>
                
                <section class="  rounded repair-info">
                    <span class="title  ">Engine Make: </span>
                    <h3 class="chip"><%= repair.engineMake %></h3>
                </section>
                
            </section> 
                
            <ol class="procedure-list" data-currentProcId="1">   
                
                <% for (let i= 0 ; repair.procedureArr.length > i ; i++){ %>

                    
                    <li class=" card blue-grey  procedure-item small-padding">
                        <section>
                            <!-- images list -->
                            <ol class="image-list horz-flex center" data-totalfiles="0" data-uploadId="0">
                                <% for (let a= 0 ; repair.procedureArr[i].images.length > a ; a++){ %>
                                    <li class=" card   image-item blue-grey ">
                                        
                                        <a class="image-link  " href="<%= repair.procedureArr[i].images[a] %>">

                                            <%if (repair.procedureArr[i].thumbs){%>
                                                <img class=" rounded red image-preview" src=" <%= repair.procedureArr[i].thumbs[a]%>" alt="repair image" class="rounded img-mini">
                                               
                                                <%}else{%>
                                                    <img src=" <%= repair.procedureArr[i].images[a]%>" alt="repair image" class="rounded img-mini">
                                                <%}%>
                                           
                                            </a>
                                            <span>Click to see full image</span>
                                        </li>
                                        <% } %>
                                    </ol>
                        </section>
                                <!-- description -->
                        <section class="card   small-padding">
                            <p class="center-text instructions">
                                <%= repair.procedureArr[i].instructions %>
                            </p> 
                        </section> 
                    </li>
                <% } %>



                

            </ol>
                
                
                <!-- submit the repair form to server -->
                <!-- <button class="clickable" type="submit">Submit Repair</button> -->

            <!-- </form> -->
           
        </section>


       
        <footer>	
            <div>
                <!-- if username === createdby || user.role === admin -->
                <form action="">
                    <details>
                        <summary class="btn"> Delete Report</summary>
                        <button class="btn red">confirm delete</button>
                        
                    </details>
                   
                   </form>
            </div>		
			
		</footer>
        <%- include("./partials/scripts"); -%>

        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('.chips');
                var instances = M.Chips.init(elems, options);
            });

            $('.chips').chips();
        </script>
</body>
</html>




