








<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Repair Information  </title>
    <link rel="stylesheet" href="./stylesheets/normalize.css">
    <link rel="stylesheet" href="./stylesheets/style.css">
    <!-- <link rel="stylesheet" href="./stylesheets/repairformclient.css"> -->
</head>
<body>
    
	
		<section>  

            Repair ID:<%= repair._id%>
            <section> 
                <!-- title -->
                <h2 class="rep-title" class="">
                    <%= repair.title %>
                </h2>

                <h3 class="search-tags">
                    <%= repair.searchtags %>         
                </h3>
                <h3 class="board-type">
                    <%= repair.boardType %>
                </h3> 
                <h3>
                <%= repair.engineMake %>
                </h3>
            </section> 
                
            <ol id="instructions" data-currentProcId="1">   
                <!-- repair instructions -->.

                <!-- external for procedures -->
                <%for (let i =0; i<repair.procedureArr.length;i++){%>
                    <%= repair.procedureArr[i].images[0] %>
                    <!-- for loop for images -->
                    

               <% } %>


                <li class="procedure">
                        <section>
                            <!-- images -->
                            <ol class="uploads" data-totalfiles="0" data-uploadId="0">
                                <!-- <li class="imageuploaded">
                                    <img src="" alt="repair image" class="img-mini">
                                    <input  data-uploadnum="1" type="file" name="picture1" accept="image/*" onchange="previewImage(event)"  >
                                    <span class="button clickable">remove item</span>
                                </li> -->
                            
                            </ol>
                            
                            

                            
                            
                            
                                
                            
                        </section>
                        <section>
                            <div class="add-proc button clickable " data-action="add-procedure">add another step after this one</div>
                        </section> 
                </li>

                

            </ol>
                
                
                <!-- submit the repair form to server -->
                <!-- <button class="clickable" type="submit">Submit Repair</button> -->

            <!-- </form> -->
           
        </section>


        <section id="formdata">

        </section>

        <footer>			
			<nav>
				<section id="menu" class="hidden-menu">
					<details >
						<summary> MENU</summary> 
					<a class="button clickable" href="/">
						<span>Search</span>
					</a>
					<a class="button clickable" href="/ecm-logs">
						<span> ECM LOG <br> +</span>
					</a>
					<!-- <a class="button clickable" href="#">
						<span> Repair <br> Search</span>
					</a> -->
				</details>
				
				</section>
			</nav>
		</footer>
        <script type="text/javascript" src="./js/repairformclient.js"></script>
        <script type="text/javascript" src="./js/Procedure.js"></script>
</body>
</html>




