



<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="This is where your description goes">
    	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Repair Search</title>
		

		<!-- external CSS link -->
		<link rel="stylesheet" href="/stylesheets/normalize.css">
		<link rel="stylesheet" href="/stylesheets/style.css">
		<!-- <link rel="stylesheet" href="./stylesheets/index.css"> -->
	</head>
	<body class="search-page">
		<!-- search bar -->
		<header>
			<section class="">
				<h1 class="title">Search Results</h1>
				<form action="/repair/search" method="get">
					<input class="search_input" type="text" name="searchPhrase" placeholder="Search for Fault code / issue">
					<button class="search_button" type="submit">Search</button>
				</form>
			</section>
			<nav>
				<section >
				 <ul class=" menu">
					<li>
						<a class=" clickable button--mobile  rounded" href="/">
							Search
						 </a>
					 </li>
					 <li>
						 <a class=" clickable button--mobile  rounded" href="/repairform">
							Submit Repair
						  </a>
					 </li>
				 </ul>
	 
				</section>
				 <details class="menu--mobile  menu--mobile-title clickable">
					 <summary> MENU</summary> 
					 <section class="flex-row">
						<a class=" clickable button--mobile  rounded" href="/">
							Search
						 </a>
						 <a class=" clickable button--mobile  rounded" href="/repairform">
							Submit Repair
						 </a>
						  <!-- <a class=" clickable button--mobile  rounded" href="#">
							Repair
						  </a> -->
					 </section>
				 
			 </details>
			 
		   
		 </nav>
			
		</header>
		
		<main>
			<!-- results -->
		<section class="results" >
			
            <% for(let i =0; i<repairs.length; i++){ %>
				<a class="" href="/repairinfo/<%= repairs[i]._id%>">
					

					<%if (repairs[i].engineMake == "cummins"){%>
						<section class="entry  small-padding clickable cummins-fix">
					<%}%>
					<% if (repairs[i].engineMake == "cat"){%>
						<section class="entry  small-padding clickable cat-fix">
					<%}%>
					<% if (repairs[i].engineMake == "detroit"){%>
						<section class="entry  small-padding clickable detroit-fix">
					<%}%>
					
                    
						<div class="entry__description entry__descriptionborder small-padding text-overflow">
							<h2 class="entry__title"><%= repairs[i].title %></h2>
							<!-- <h3><%= repairs[i].searchtags %></h3> -->
							<p class="small-padding"><%= repairs[i].procedureArr[0].instructions %></p>
							<span><%=repairs[i].engineMake%></span>
						  
						</div>
						<div class="entry__imgcont ">
							<!-- thumbnail for repair -->
							<%if (repairs[i].procedureArr[0].images){%>
								
								<img class="img-mini img-mini--repairborder " src=" <%= repairs[i].procedureArr[0].images[0].replace('/upload/','/upload/c_scale,w_300/')%>" data-url="<%= repairs[i].procedureArr[0].images[0].replace('/upload/','/upload/c_scale,w_300/')%>" alt="repair image" >
								<%}else{%>
									<img src="https://img.icons8.com/ios-filled/100/000000/automatic-gearbox-warning--v2.png" alt="repair image not available" class="img-mini">
								<%}%>
		
						</div>
	
						
					</section>
				</a>
                
    

            <%}%>
			
			



		</section>

		</main>
		
				
			

		<footer>
	
		</footer>
	

		<script type="text/javascript" src="./js/index.js"></script>
	</body>
</html>
